html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:black;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    display:flex;
    flex-direction: column;
}
body.hide{
    overflow: hidden;
    fill:black;
}
.page-wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* ------------------------------- HEADER SECTION --------------------------- */

/* -- Header Navigation -- */

.hamburger{
    display: none;
    cursor: pointer;
    margin: 0;
}
.bar{
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    margin: 9px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFC80B;  
}
.bar-mid{
    width:25px;
}
.bar-scrolled{
    background-color: #FFC80B;  
}
@keyframes text-appear {
    0%{
        transform: translateY(-1000%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes zoomout {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.nav-regular{
    font-family: 'Smooch Sans', sans-serif;
    font-size:2em;
    font-weight: 200;
    width: 100vw;
    height: 3.5em;
    display: flex;
    align-items: center; 
    position: fixed;
    transition: all 500ms ease-in-out; 
    z-index: 3;
    justify-content: space-between;
}

.nav-regular a{
    text-decoration: none;
}

.nav-scrolled{
    height:2.5em;
    z-index: 3;
    background-color: rgba(0,0,0,1);
    position: fixed;
    top:0;
    transition: 0.3s ease-out;
}
.nav-scrolled::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 2.5em; 
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(rgba(80, 78, 78, 0.35),transparent);
    transition: 0.3s ease-out;
}

.scroll-watcher {
    left:0;
    right:0;
    height: 0;
    position: absolute;
    top:0;
    z-index: 999;
}

.nav-menu{
    position: absolute;
    right:0;
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 30rem;
    padding:0;
    margin: 2.5rem;

}

.nav-item{
    display: inline-block;
    animation: 1s ease-out 0s 1 text-appear;
}

.nav-item-separator{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: #c8c4c3a3;
    margin: 0;
}

.nav-item a{
    transition: all 0.3s ease 0s;
    color:white;
    text-decoration: none;
}

.logo-image{
    height: 75%;
    cursor: pointer;
    margin: auto 2.5rem;
}

.nav-item a:hover{
    color:#FFC80B;
}

.button-nav{
    display: none;
}

/*---- HERO SECTION ----*/
header{
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    font-family: 'Smooch Sans', sans-serif;
    font-size:2em;
    font-weight: 200;
    transform-style: preserve-3d;
    z-index: 1;
}
.hero-home{
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
}

.hero-home-img{
    transform: translateZ(-10px) scale(2);
}

.hero-home-img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: 0.5s ease-out 0s 1 zoomout;
}

.home-title-text{
    position: absolute;
    z-index: 1;
    left:0;
    right:0;
    top:20vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-page-title-cover{
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
}

.home-page-subtitle-cover{
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
}
.home-hero-title-cartoon{
    width: 30rem;
    margin: auto;
    animation: 1s ease-out 0s 1 text-appear; 
}
.home-page-subtitle{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    animation: 2s ease-out 0s 1 text-appear; 
    height: 100%;
    margin: auto;
    text-shadow: 0 0 5px black;
}
.home-button{
    font-family: 'Smooch Sans', sans-serif;
    font-size: large;
    color: white;
    border-radius: 30px;
    position: absolute;
    border: 1px solid white;
    z-index: 4;
    height:2.5em;
    width:7em;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}
.home-button:hover{
    background-color: #FFC80B;
    color: black;
}
.follow-button{
    position: absolute;
    z-index: 999;
    right: 2.5rem;
    top: -5vw;
}

/* -------- About the Band Section -- HOME -------- */
.home-about-the-band{
    background-color: black;
    position: relative;
    z-index: 1;
    height: fit-content;
    width: 100vw;
    display: flex;
}
.home-about-the-band::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; /* Adjust this value to control the slant height */
    left: 0;
    width: 100%;
    height: 20em; /* Adjust this value to control the slant angle */
    background-color: inherit; /* Inherit parent's background color */
    transform-origin: top left;
    transform: skewY(-5deg); /* Skew transformation to create the slant */
}
.about-graphic-section{
    text-align: center;
    height:100%;
    width:50vw;
    display: flex;
    align-items: center;
    margin: 7em auto;
}

.about-graphic-section img{
    height:30em;
    margin: auto 3em auto auto;
}

.about-text-section{
    display: flex;
    height:100%;
    width:50vw;
    margin: auto 5em auto auto;
}
.text-wrapper{
    width:70%;
    height: fit-content;
    margin: auto auto auto 2em;
    max-width: 510px;
    overflow: hidden;
}
.text-wrapper h1{
    font-size: 4em;
    color:#FFC80B;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
.text-wrapper h2{
    font-size: 1.5em;
    color: white;
    font-family: "Oswald", sans-serif;
    margin: 0 auto 1em;
}
.text-wrapper p{
    font-size: 1em;
    font-weight: 100;
    color: white;
    font-family: sans-serif;
    margin: 1em auto;
}
.merch-button{
    margin: 1em auto auto;
}

/* -------- EVENT INFO Section -- HOME -------- */
.home-event-info{
    background-color: rgba(25,25,25,1);
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 1;
}
.event-left{
    width:50%;
    height:100%;
    display: flex;
}
.event-text-wrapper{
    height: fit-content;
    max-width: 510px;
    overflow: hidden;
    margin:auto;
    text-align: center;
}
.event-right{
    width:50%;
    height:100%;
}
.home-event-poster{
    height:100%;
    width:100%;
    object-fit: cover;
}
.details-button{
    position: relative;
    margin: 1em auto;
}

/* ----- HOME LISTEN/WATCH SECTION ----- */
.home-media{
    width: 100vw;
    height:fit-content;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.soundcloud-imbed{
    width:50%;
    margin:0 auto 3em;
}
.home-media-header{
    font-size: 4em;
    color:#FFC80B;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0.5em auto 0.5em;
}



/* ------------- FOOTER SECTION-------------- */
.footer-main{
    height:fit-content;
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(25,25,25,1);
    align-items: center;
    justify-content: center;
}
footer p{
    color:white;
    font-family: sans-serif;
}
.footer-main-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link{
    display: flex;
    width:2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.social-link>*{
    width:100%;
}
footer a{
    font-family: sans-serif;
    color:white;
    font-family: 'Smooch Sans', sans-serif;
}
.footer-bottom{
    background-color: rgba(25,25,25,1); 
    height: 2em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.footer-bottom >*{
    font-family: 'Smooch Sans', sans-serif;
}


.footer-item-separator{
    color:white;
    margin: auto 1em;
}


/*--- ------ ABOUT PAGE ------ ---*/
.subpage-wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.subpage-header{
    height: 100vh;
}
.about-page-content{
    height:100%;
    background-color: black;
}
.hero-sub-img{
    transform: translateZ(-10px) scale(2);
}
.hero-sub-img{
    position: absolute;
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    animation: 2s ease-out 0s 1 zoomout;
}

/* --------------------------- FOR MOBILE VIEW ------------------------------ */
@media(max-width:1715px){
    .home-about-the-band::before{
        transform: skewY(-8deg); /* Skew transformation to create the slant */
    }
    .follow-button{
        top:-8vw;
    }
}

@media(max-width:820px){
    /* -- NAVBAR CHANGE WITH SCROLL -- */
    .nav-regular{
        height:8vh;
        transition: 0.5s ease-out;
    }
    .nav-scrolled{
        height:8vh;
        transition: 0.5s ease-out;
    }

    .nav-regular::before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0; /* Adjust this value to control the slant height */
        left: 0;
        width: 100%;
        height: 8vh; /* Adjust this value to control the slant angle */
        background: linear-gradient(black,transparent);
    }
    .nav-scrolled::after{
        top:8vh;
    }

    /* -------- HAMBURGER MENU ------- */
    .logo-image{
        height:50%;
        position: relative;
        margin: auto 2em;
    }
    .hamburger{
        position: absolute;
        z-index: 2;
        display: block;
        margin: auto auto auto 3vw;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;    
    }
    .hamburger.active .bar:nth-child(1){ 
        transform: translateY(11px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){ 
        transform: translateY(-11px) rotate(-45deg);
    }
    .nav-menu{
        display: flex;
        position:absolute;
        z-index: 3;
        left:0;
        top:8vh;
        gap: 0;
        background: linear-gradient(270deg,rgba(0,0,0,0.8),rgba(0,0,0,1));
        text-align: center;
        transition: 1s all ease;
        margin: 0;
        width: 100vw;
        height:100vh;
        padding: 0;
        box-shadow: 1px 12px 42px 10px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 12px 42px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 12px 42px 10px rgba(0,0,0,0.75);
        display: none;
    }
    @keyframes appear-zoom {
        0%{
            transform: translateX(-1vw);
        }
        100%{
            transform: translateX(0);
        }
    }
    .nav-menu.active{
        display: block;
        animation: appear-zoom 0.5s;
    }
    .nav-item-separator{
        display: block;
    }
    .menu-on{
        background:black;
    }
    .nav-item{
        font-size: 1em;
        padding: 0;
        width:100%;
        margin: auto;
        animation: none;
    }
    
    .nav-item a{
        display: block;
        width:100%;
        padding: 1vh 0;
        color: #FFC80B;
        margin: 0;
    }
    .home-button{
        border-radius: 3px;
        border: 1px solid#FFC80B;
        background-color: transparent;
        color: #FFC80B;
        height:2em;
        width:6em;
    }
    .button-nav{
        display: block;
        position: relative;
        margin: 3vw;
    }

    /* HERO SECTION */
    header{
        height: 60%;
        top:0;
    }
    .hero-home-img{
        transform: none;
        
    }
    .home-hero-title-cartoon{
        width:75vw;
    }
    .home-page-subtitle{
        font-size: 1.2em;
    }
    .follow-button{
        display: none;
    }

    .home-about-the-band{
        margin: 0;
        height: fit-content;
        padding: 5em 0;
        flex-direction: column-reverse;
    }
    .about-graphic-section{
        margin: 0 auto;
        width: fit-content;
    }
    .about-graphic-section img{
        height:25em;
        margin: auto;
    }
    .about-text-section{
        margin: 0 auto;
        width: 95vw;
    }
    
    .merch-button{
        position: relative;
        margin: 2em;
    }
    .text-wrapper{
        width: 100%;
        text-align: center;
        margin:auto;
    }

    .home-event-info{
        flex-direction: column;
        height: fit-content;
        padding: 2em 0 0;
    }
    .event-text-wrapper{
        max-width: none;
    }
    .event-left{
        width: 100%;
    }
    .event-right{
        margin: 1em auto 0;
        width:100%;
    }
    .footer-bottom{
        height: fit-content;
        flex-direction: column;
    }
    .footer-item-separator{
        display: none;
    }

    .soundcloud-imbed{
        width: 95%;
    }



}